.hiragino-mincho-pron-18 {
    font-family: hiragino-mincho-pron, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

.hiragino-mincho-pron-bold {
    font-family: hiragino-mincho-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.yu-mincho-pr6n {
    font-family: "yu-mincho-pr6n", sans-serif;
    font-weight: 400;
    font-style: normal;
}




